body {
    font-family: sans-serif;
}
.cuganskie_fokusu{
 border: 5px solid blue;
 background-color:LightCyan ;

}
.ukrainskaya_bimba{
    text-decoration: none;
    color: black;
}
.cheburek{
    color:gold;
    text-align: center;
}
footer{
    background-color:MidnightBlue;
    color: white;
    }
.r{
    text-decoration: none;
    color: black;
    background-color: MidnightBlue;
    color: white;
    border: 2px solid blue;
   
    r-radius: 50px;
}
    .t{
        background-color: Aquamarine	;
    }
    .y{font-size: 8px;
        color: white;
    }
